﻿@media (max-width: 2560px) {
    input[type=checkbox] {
        display: none;
    }

    .nav_menu ul > li > a,
    .basket > a {
        font-size: 22px;
    }

    .controls label {
        height: 20px;
        width: 20px;
    }

    .header_bot label:after {
        height: 40px;
        width: 28px;
        top: -6px;
        left: -6px;
    }


    .skill {
        height: 530px;
    }


    .skill_title {
        font-size: 28px;
    }

    .skill_text {
        font-size: 18px;
    }

    .skill_descript {
        grid-column-gap: 140px;
    }

    .advantage_text {
        font-size: 20px;
    }

    .advantage_descript_item_1_list {
        font-size: 20px;
    }

    .advantage_enumeration {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    input[type=checkbox] {
        display: none;
    }

    .nav_menu ul > li > a,
    .basket > a {
        font-size: 14px;
    }

    .nav-container {
        overflow: hidden;
    }

    .controls label {
        height: 14px;
        width: 14px;
    }

    .header_bot label:after {
        height: 14px;
        width: 14px;
        top: -2px;
        left: -2px;
    }


    .skill_descript {
        grid-column-gap: 10px;
    }


    .skill_title {
        font-size: 20px;
    }

    .skill_text {
        font-size: 14px;
    }

    .skill_button_applic,
    .skill_button_site,
    .skill_button_present {
        width: 120px;
    }

    .nav-container {
        width: 90%;
    }

    .skill {
        padding-bottom: 30px;
        height: 450px;
    }

    .advantage {
        height: 450px;
    }

    .advantage_top_line {
        margin-bottom: 30px;
    }

    .advantage_descript_item_1 {
        width: 550px;
    }

    .advantage_title {
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 25px;
        line-height: 30px;
    }

    .advantage_text {
        font-size: 14px;
        margin-bottom: 120px;
    }

    .advantage_enumeration {
        font-size: 14px;
        margin-bottom: 32px;
    }

    .advantage_descript_item_1_list {
        font-size: 12px;
    }

    .number {
        font-size: 25px;
    }

    .advantage_number p:not(:first-child) {
        font-size: 12px;
        line-height: 14px;
    }


    .logo__ico_item::after {
        display: none;
    }

    .map_descript {
        width: 240px;
        height: 220px;
    }


        .map_descript h5 {
            font-size: 16px;
        }

        .map_descript p {
            font-size: 12px;
            margin-bottom: 5px;
        }

    .map_button {
        width: 160px;
    }

    .social_descript h4 {
        font-size: 25px;
        margin-bottom: 25px;
    }

    .social_descript p {
        font-size: 14px;
    }

    .social {
        justify-items: center;
    }

    .social {
        grid-template-columns: 250px 550px 1fr;
    }
}

@media (max-width: 768px) {
    .burger-menu, input[type=checkbox] {
        height: 40px;
        width: 40px;
        position: absolute;
        right: 350px;
        top: 50px;
        display: block;
    }

        .burger-menu span {
            width: 60px;
            height: 8px;
            background-color: black;
            position: absolute;
        }

            .burger-menu span:nth-child(1) {
                top: 0;
            }

            .burger-menu span:nth-child(2) {
                top: 15px;
            }

            .burger-menu span:nth-child(3) {
                top: 30px;
            }

    input[type=checkbox] {
        opacity: 0;
    }

        input[type=checkbox]:checked {
            z-index: 2;
        }

            input[type=checkbox]:checked ~ ul {
                visibility: visible;
                right: 0;
            }

    .nav_menu > ul {
        display: inline;
        position: absolute;
        justify-content: start;
        font-size: 40px;
        right: -10vw;
        top: 150px;
        visibility: hidden;
        transition: right 1s linear;
        z-index: 99999;
    }

    .nav_menu > li:not(:last-child) {
        margin-right: 0px;
    }

    .nav_menu ul > li > a {
        font-size: 25px;
        color: black;
        font-weight: bold;
    }

    .basket > a {
        font-size: 25px;
        color: black;
        font-weight: bold;
    }

    .nav_menu ul > li:not(:last-child) {
        margin-right: 30px;
    }



    .skill_descript {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: none;
        grid-row-gap: 15px;
        margin: 0 auto;
        text-align: center;
    }


    .skill {
        height: 1000px;
    }

    .skill_title {
        margin-top: 20px;
        font-size: 18px;
    }

    .skill_text {
        margin-top: 10px;
        font-size: 12px;
        line-height: 16px;
    }

    .skill_button_site, .skill_button_applic, .skill_button_present {
        margin-top: 10px;
    }

    .advantage_text {
        margin-bottom: 50px;
    }

    .number {
        font-size: 18px;
    }

    .advantage_number:not(:last-child) {
        margin-right: 10px;
    }

    .advantage_descript_item_1 {
        width: 322px;
    }

    .logo__ico {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .logo {
        height: 300px;
    }

    .social_descript h4 {
        font-size: 18px;
    }
}

@media (max-width: 420px) {


    .nav_menu > ul {
        flex-wrap: wrap;
    }

    .header__top {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
    }

    .header_logo {
        margin-left: 150px;
    }

    .basket {
        margin-left: 150px;
    }

        .nav_menu ul > li > a,
        .basket > a {
            font-weight: bold;
            font-size: 20px;
        }

    .nav_menu > ul {
        font-size: 20px;
        left: 6vw;
    }

        .nav_menu > ul :not(:last-child) {
            margin-bottom: 10px;
        }


    .header {
        height: 600px;
    }

    .header_bot {
        position: none;
    }

    .slider {
        position: none;
    }

    .slides {
        flex-wrap: wrap;
        position: none;
    }

    .slider img {
        display: none;
    }

    .slide1_descript, .slide2_descript, .slide3_descript {
        text-align: center;
        margin-left: 35px;
        margin-top: 25px;
    }

    .controls {
        left: 40%;
    }

    .advantage_descript {
        flex-wrap: wrap;
        justify-content: center;
    }

    .advantage {
        height: 900px;
    }

    .advantage_descript_item_1_list {
        margin-bottom: 30px;
    }

    .advantage_number, .advantage_enumeration, .advantage_title, .advantage_text {
        text-align: center;
    }

    .social {
        grid-template-columns: 1fr;
    }

    .social_descript {
        margin-top: 20px;
    }

    .footer {
        padding-top: 40px;
        height: 250px;
    }
}
