﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

button {
    border: 0;
    font-family: 'Roboto', sans-serif;
    width: 160px;
    height: 50px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 30px;
}

    button:active, button:focus {
        outline: none;
    }

    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }


/*****HEADER *****/
.header {
    padding-top: 40px;
    width: 100%;
    height: 150px;
    background-color: #eeeeee;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    background-image: url(../image/logo.png);
    width: 160px;
    height: 65px;
}

.nav_menu > ul {
    display: flex;
}

.nav_menu ul li {
    list-style: none;
}

.nav_menu ul > li:not(:last-child) {
    margin-right: 50px;
}

.nav_menu ul > li > a,
.basket > a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
}

.nav_menu_2 > ul {
    display: flex;
    justify-content: center;
}

.nav_menu_2 ul li {
    list-style: none;
}

.nav_menu_2 ul > li:not(:last-child) {
    margin-right: 70px;
}

.nav_menu_2 ul > li {
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    border: 0;
    width: 110px;
    height: 40px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 30px;
    background-color: #eeeeee;
}

    .nav_menu_2 ul > li > a {
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        text-decoration: none;
        font-size: 16px;
        color: #000000;
        text-transform: uppercase;
    }

        .nav_menu_2 ul > li > a:hover {
            border: 2px solid #ec940f;
            color: #ec940f;
            background: white;
            padding: 0.5em 1em;
            padding: 10px 35px 10px 35px;
            border-radius: 30px;
            box-shadow: 0 12px 16px 0 rgba(238, 90, 4, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            text-align: center;
        }


.nav_menu ul > li > a:hover,
.basket > a:hover {
    color: #fb565a;
    box-shadow: 0 12px 16px 0 rgba(221, 81, 81, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.basket_ico {
    display: inline-block;
    align-items: center;
    background-image: url(../image/basket.png);
    width: 15px;
    height: 15px;
    margin-right: 20px;
}




.header_bot {
    position: relative;
    width: 100%;
    padding-top: 10px;
    height: 400px;
}



/*************************************************************/

/*****SKILL*****/

.skill {
    padding-top: 80px;
    width: 100%;
    height: 511px;
    background-color: #ffffff;
    padding-bottom: 70px;
}

.skill_descript {
    display:grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-column-gap: 100px;
    max-width: 303px;
}

.skill_title {
    text-align: center;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.skill_text {
    text-align: center;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #61686c;
    line-height: 20px;
}

.skill_button_site {
    background-color: #fb565a;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 50px;
}

.skill_icon {
    width: 300px;
    height: 200px;
}

/****************************************/

