﻿@using Restaurant.Models.Home
@model DishInfo

<form asp-action="CreateDish" asp-controller="Dessert" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(model => model.MenuId)
    <div class="form-group">
        <label>Имя</label>
        <input type="text" asp-for="Title" />
        <span asp-validation-for="Title" />
    </div>
    <div class="form-group">
        <label>Картинка</label>
        <input type="file" accept="image/*" asp-for="Image" />
        <span asp-validation-for="Image" />
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Price, new { @class = "col-2 col-form-label" })
        <input type="number" asp-for="Price" value="" />
        <span asp-validation-for="Price" />
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, new { @class = "col-2 col-form-label" })
        <input type="text" asp-for="Description" />
        <span asp-validation-for="Description" />
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Weight, new { @class = "col-2 col-form-label" })
        <input type="number" asp-for="Weight" value="" />
        <span asp-validation-for="Weight" />
    </div>
    <p>
        <input type="submit" value="Добавить" />
    </p>
</form>