﻿@using Restaurant.Models.ViewModels
@model IndexViewModel



<div class="skill_descript">
    @if (Model.Dishes.Count() != 0)
    {
        @foreach (var dish in Model.Dishes)
        {
            <div class="skill_descript_item">
                @if (dish.Avatar != null)
                {
                    <img class="skill_icon" src="data:image/jpeg;base64,@(Convert.ToBase64String(@dish.Avatar))" alt="" />
                }
                <h4 class="skill_title">@dish.Title</h4>
                <div class="skill_text">@dish.Description</div>
                <div class="skill_text">@dish.Weight.ToString("0 г")</div>
                <div class="skill_text">@dish.Price.ToString("$0.00")</div>
                @if (User.IsInRole("User"))
                {
                    <form asp-action="AddToCart" asp-controller="Basket" asp-route-dishId="@dish.Id" data-ajax="true"
                          data-ajax-method="POST" data-ajax-success="onSuccess">
                        <button type="submit" class="skill_button_site">Добавить в корзину</button>
                    </form>
                }
            </div>
        }
    }
</div>

@section Scripts{ 
    <script>
        function onSuccess(data) {
            alert("Успешно");
            $('#basket').html(data);
        }
    </script>
}