﻿@using Restaurant.Models.Home
@using Restaurant.Models.ViewModels
@model IndexViewModel

<form asp-action="GetAll" asp-controller="Dessert" asp-route-id="@Model.MenuId" data-ajax="true"
      data-ajax-method="GET" data-ajax-success="getDessertSuccess">
    <div class="form-inline form-group">

        <label class="control-label">Название: </label>
        <input name="title" value="@Model.FilterViewModel.SelectedTitle" class="form-control" />

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>

<div class="skill_descript">
    @if (Model.Dishes.Count() != 0)
    {
        @foreach (var dish in Model.Dishes)
        {
            <div class="skill_descript_item">
                @if (dish.Avatar != null)
                {
                    <img class="skill_icon" src="data:image/jpeg;base64,@(Convert.ToBase64String(@dish.Avatar))" alt="" />
                }
                <h4 class="skill_title">@dish.Title</h4>
                <div class="skill_text">@dish.Description</div>
                <div class="skill_text">@dish.Weight.ToString("0 г")</div>
                <div class="skill_text">@dish.Price.ToString("$0.00")</div>
                @if (User.IsInRole("User"))
                {
                    <form asp-action="AddToCart" asp-controller="Basket" asp-route-dishId="@dish.Id" data-ajax="true"
                          data-ajax-method="POST" data-ajax-success="onSuccess">
                        <button type="submit" class="skill_button_site">Добавить в корзину</button>
                    </form>
                    <form asp-action="AddToFavourites" asp-controller="Dessert" asp-route-dishId="@dish.Id" data-ajax="true"
                          data-ajax-method="POST" data-ajax-success="onSuccess">
                        <button type="submit" class="skill_button_site">Добавить в избранное</button>
                    </form>
                }
                @if (User.IsInRole("Cook"))
                {
                    <form asp-action="DeleteDish" asp-controller="Dessert" asp-route-menuId="@Model.MenuId" asp-route-id="@dish.Id" data-ajax="true"
                          data-ajax-method="POST" data-ajax-success="deleteSuccess">
                        <button type="submit" class="skill_button_site">Удалить</button>
                    </form>
                }
            </div>
        }
    }
</div>

@if (User.IsInRole("Cook"))
{
    <div>
        @Html.ActionLink("Создать", "CreatePage", "Dessert", new DishInfo() { MenuId = Model.MenuId }, new { type = "button", @class = "btn btn-outline-dark" })
    </div>
}