﻿@using Restaurant.Models.Home
@using RestaurantDB.Model
@model CatalogInfo
@using (Html.BeginForm("CreateCatalog", "Catalog", FormMethod.Post, new Catalog()))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)

    <hr />
    @Html.ValidationMessageFor(model => model.Title)
    @Html.LabelFor(model => model.Title, new { @class = "col-2 col-form-label" })
    @Html.EditorFor(model => model.Title)

    <hr />
    <input type="submit" class="button" id="btn btn-outline-dark" />
}