﻿@using Restaurant.Models.ViewModels
@model IndexViewModel


<nav class="nav_menu_2">
    <ul>
        @if (Model.Menus.Count() != 0)
        {

            @foreach (var menu in Model.Menus)
            {
                <li>
                    @*<input type="button" class="menuBtn" data-id="@menu.Id" value="@menu.Title" />*@

                    <a class="menuBtn" data-id="@menu.Id">@menu.Title</a>
                </li>
            }


        }
        @if (User.IsInRole("Cook"))
        {
            <li>
                @Html.ActionLink("+", "CreatePage", "Catalog")
            </li>
        }
    </ul>
</nav>
<section class="skill" id="menuPlaceholder"></section>


@section Scripts
{
    <script>
        //function onSuccess(data) {
        //    $('#menuPlaceholder').html(data);
        //}
        $(".menuBtn").click(function ()
        {
            var menuId = $(this).data("id");

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAll", "Dessert")",
                data: { "id": menuId },
                    success: function (data)
                    {
                    $('#menuPlaceholder').html(data);
                    }
                })
        });
    </script>
    <script>
        function onSuccess(data) {
            alert("Успешно");
            $('#basket').html(data);
        }
    </script>
    <script>
        function deleteSuccess(data) {
            alert("Удалить блюдо?");
            history.go(0);
        }
    </script>
    <script>
        function getDessertSuccess(data) {
            $('#menuPlaceholder').html(data);
        }
    </script>
}
