﻿@using Restaurant.Models.ViewModels
@model IndexViewModel

<div class="text-center">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Status</th>
        </tr>

        @if (Model.Orders.Count() != 0)
        {
            @foreach (var orderInfo in Model.Orders)
            {
                <tr>
                    <td>@orderInfo.Id</td>
                    <td>@orderInfo.Status</td>
                    <td>@Html.ActionLink("Информация", "GetInfo", "Order", new { Id = orderInfo.Id }, new { type = "button", @class = "btn btn-outline-dark" })</td>
                    <td>
                        <form asp-action="DeleteOrder" asp-controller="Order" asp-route-id="@orderInfo.Id" data-ajax="true"
                              data-ajax-method="POST" data-ajax-success="onSuccess">
                            <input type="submit" class="btn btn-outline-dark" value="Удалить" id="delete" />
                        </form>
                    </td>
                </tr>
            }
        }
    </table>
</div>
