﻿@using Restaurant.Models.Home
@model OrderInfo

<form asp-action="OrderInfo" asp-controller="Order" data-ajax="true"
      data-ajax-method="POST" data-ajax-success="onSuccess">
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Status, new { @class = "col-2 col-form-label" }) <br />
        @Html.RadioButton("status", "Active", Model.Status == "Active")
        <span>Active</span> <br />
        @Html.RadioButton("status", "Done", Model.Status == "Done")
        <span>Done</span> <br />
        @Html.RadioButton("status", "Cancelled", Model.Status == "Cancelled")
        <span>Cancelled</span> <br />
        @Html.ValidationMessageFor(model => model.Status)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Dishes)<br/>
        @Html.ListBoxFor(model => model.Dishes, Model.Dishes.Select(a => new SelectListItem { Text = a.Dessert.Title, Value = a.Id.ToString() }), new { @form = "deleteTask", style = "width:200px" })
    </div>

    <input type="submit" class="btn btn-outline-dark" id="btsubmit" />
</form>

<script>
    function onSuccess(data) {
        alert(data.success);
        history.go(-1);
    }
</script>