﻿@using Restaurant.Models.Home
@model UserInfo


<form asp-action="UserInfo" asp-controller="User" data-ajax="true"
      data-ajax-method="POST" data-ajax-success="onSuccess">
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, new { @class = "col-2 col-form-label" })
        @Html.EditorFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LastName, new { @class = "col-2 col-form-label" })
        @Html.EditorFor(model => model.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Login, new { @class = "col-2 col-form-label" })
        @Html.EditorFor(model => model.Login, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Login)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password, new { @class = "col-2 col-form-label" })
        @Html.EditorFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, new { @class = "col-2 col-form-label" })
        @Html.EditorFor(model => model.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PhoneNumber)
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.IsDeleted, new { @class = "col-2 col-form-label" })
        @Html.TextBoxFor(model => model.IsDeleted)
        </div>*@
    @if (User.Identity.Name != Model.Id.ToString())
    {
        <div>
            @Html.LabelFor(model => model.Role, new { @class = "col-2 col-form-label" })
            @Html.DropDownList("role", new SelectList(new string[] { "Admin", "User", "Cook" }))
            <span asp-validation-for="Role" />
        </div>
    }


    <input type="submit" class="btn btn-outline-dark" id="btsubmit" />
</form>

@if (User.Identity.Name != Model.Id.ToString())
{
    <form id="deleteTask" asp-action="DeleteUser" asp-controller="User" asp-route-id="@Model.Id" data-ajax="true"
      data-ajax-method="POST" data-ajax-success="deleteSuccess"></form>
}


<script>
    function onSuccess(data) {
        alert(data.success);
        history.go(0);
    }

    function deleteSuccess() {
        alert("Элемент удален");
        history.go(0);
    }
</script>
