﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/media.css">
    <title>@ViewData["Title"] - Restaurant</title>
</head>
<body>
    <header class="header">
        <div class="nav-container">
            <div class="header__top">
               
                    <a class="header_logo" asp-action="GetAll" asp-controller="Catalog"></a>
                
                <nav class="nav_menu">
                    <div class="burger-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <input type="checkbox" id=check>
                    <ul>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a asp-action="GetInfo" asp-controller="User" asp-route-id="@Int32.Parse(@User.Identity.Name)">профиль</a></li>
                            @if (User.IsInRole("User"))
                            {
                                <li><a asp-action="Favourites" asp-controller="Dessert">избранное</a></li>
                            }
                            <li><a asp-action="Logout" asp-controller="Account">выйти</a></li>
                        }
                    </ul>
                </nav>
                @if (User.IsInRole("User"))
                {
                    <div class="basket">
                        <a asp-action="Basket" asp-controller="Basket">
                            <span class="basket_ico"></span>корзина
                        </a>
                    </div>
                }

                @if (User.IsInRole("Cook"))
                {
                    <div class="basket">
                        <a asp-action="GetAll" asp-controller="Order">
                            заказы
                        </a>
                    </div>
                }

                @if (User.IsInRole("Admin"))
                {
                    <div class="basket">
                        <a asp-action="GetAll" asp-controller="User">
                            пользователи
                        </a>
                    </div>
                }


                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="basket">
                        <a asp-action="Login" asp-controller="Account">войти</a>
                    </div>
                }
                @*<div class="login">
            @if (User.Identity.IsAuthenticated)
            {
                <div>
                    <a asp-action="Logout" asp-controller="Account">
                        <input type="submit" value="Выйти" class="btn btn-outline-dark" />
                    </a>
                </div>
            }
            else
            {
                <a asp-action="Login" asp-controller="Account">
                    <input type="submit" value="Войти" class="btn btn-outline-dark" />
                </a>
            }

        </div>*@
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/raty/jquery.raty.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
