﻿@using Restaurant.Models.Home
@model Cart

<div class="navbar-text navbar-right">
    @if (@Model == null || @Model.Lines.Count() == 0)
    {
        <b>Ваша корзина пуста</b>
    }
    else
    {
        <b>Ваша корзина:</b>
        <b>
            @Model.Lines.Sum(x => x.Quantity) блюд(-a),
            @Model.ComputeTotalValue().ToString("# руб")
        </b>
        @Html.ActionLink("Заказать", "Basket", "Basket",
    new { @class = "btn btn-default navbar-btn" })
    }
</div>