﻿@using Restaurant.Models.Home
@using RestaurantDB.Model
@model FAQInfo
@using (Html.BeginForm("Ask", "FAQ", FormMethod.Post, new FAQ()))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)

    <hr />
    @Html.ValidationMessageFor(model => model.Question)
    @Html.LabelFor(model => model.Question, new { @class = "col-2 col-form-label" })
    @Html.EditorFor(model => model.Question)

    <hr />
    <input type="submit" class="button" id="btn btn-outline-dark" />
}