﻿@using Restaurant.Models.ViewModels
@using Restaurant.Models.Home
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexViewModel

<div class="text-center">
    <table class="table">
        <tr>
            <th>Вопрос</th>
            <th>Ответ</th>
        </tr>

        @foreach (var faqInfo in Model.Faqs)
        {
            <tr>

                <td>@faqInfo.Question</td>
                <td>@faqInfo.Answer</td>
                @if (User.IsInRole("Admin"))
                {
                    <td>@Html.ActionLink("Информация", "GetInfo", "FAQ", new { Id = faqInfo.Id }, new { type = "button", @class = "btn btn-outline-dark" })</td>
                    <td>
                        <form asp-action="DeleteFaq" asp-controller="FAQ" asp-route-id="@faqInfo.Id" data-ajax="true"
                              data-ajax-method="POST" data-ajax-success="onSuccess">
                            <input type="submit" class="btn btn-outline-dark" value="Удалить" id="delete" />
                        </form>
                    </td>
                }
            </tr>
        }
    </table>
</div>

<page-link page-model="Model.PageViewModel" page-action="GetAll"
           page-url-firstName="@(Model.FilterViewModel.SelectedFirstName)"
           page-url-lastName="@(Model.FilterViewModel.SelectedLastName)"
           page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>
@if (User.IsInRole("User"))
{
    <div>
        @Html.ActionLink("Задать вопрос", "Ask", "FAQ", new FAQInfo(), new { type = "button", @class = "btn btn-outline-dark" })
    </div>
}

@section Scripts
{
    <script>
        function onSuccess(data) {
            alert('Успешно');
            history.go(0);
        }
    </script>
}