﻿@using Restaurant.Models.Home
@model FAQInfo


<form asp-action="FaqInfo" asp-controller="FAQ" data-ajax="true"
      data-ajax-method="POST" data-ajax-success="onSuccess">
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Question, new { @class = "col-2 col-form-label" })
        @Html.EditorFor(model => model.Question, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Question)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Answer, new { @class = "col-2 col-form-label" })
        @Html.EditorFor(model => model.Answer, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Answer)
    </div>
    
    <input type="submit" class="btn btn-outline-dark" id="btsubmit" />
</form>

<form id="deleteTask" asp-action="DeleteFaq" asp-controller="FAQ" asp-route-id="@Model.Id" data-ajax="true"
      data-ajax-method="POST" data-ajax-success="deleteSuccess"></form>


<script>
    function onSuccess(data) {
        alert(data.success);
        history.go(-1);
    }

    function deleteSuccess() {
        alert("Элемент удален");
        history.go(0);
    }
</script>
