﻿@model Restaurant.Models.Account.LoginModel
@{
    ViewData["Title"] = "Авторизация";
}

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            @Html.LabelFor(model => model.Login, new { @class = "col-2 col-form-label" })
            <input type="text" asp-for="Login"/>

            <span asp-validation-for="Login"/>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "col-2 col-form-label" })
            <input asp-for="Password"/>
            <span asp-validation-for="Password"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-outline-dark" />
            @Html.ActionLink("Регистрация", "Register", "Account", new { }, new { type = "button", @class = "btn btn-outline-dark" })
        </div>
    </div>
</form>