﻿@using Restaurant.Models.ViewModels
@model CartIndexViewModel

@{
    ViewBag.Title = "Ваша корзина";
}

<table class="table">
    <thead>
        <tr>
            <th>Кол-во</th>
            <th>Блюдо</th>
            <th class="text-right">Цена</th>
            <th class="text-right">Общая цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Title</td>
                <td class="text-right">@line.Price.ToString("$#")</td>
                <td class="text-right">
                    @((line.Quantity * line.Price).ToString("$#"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Basket", new { dishId = @line.DishId }))
                    {
                        <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Итого:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("$#")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Catalog" asp-action="GetAll">Продолжить покупки</a>
    <a class="btn checkout">Оформить заказ</a>
</div>

@section Scripts
{
    <script>
        $(".checkout").click(function ()
        {
            $.ajax({
                type: "POST",
                url: "@(Url.Action("Checkout", "Basket"))",
                    success: function (data)
                    {
                        alert(data.success);
                    }
                })
        });
    </script>
}